
.blogContainer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: 5rem;
  
}


.blogPost {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.blogPostImage {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}


.blogPostTitle {
  font-size: 18px;
  margin-bottom: 10px;
}


.blogPostText {
  font-size: 14px;
  margin-bottom: 10px;
}


.blogPostMeta {
  font-size: 12px;
  margin-bottom: 10px;
}

.blogPostButton {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.blogPostButton:hover {
  background-color: #ccc;
}


@media (max-width: 767px) {
  .blogPost {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .blogPost {
    max-width: 48%;
  }
}


@media (min-width: 1024px) {
  .blogPost {
    max-width: 30%;
  }
}
